<nav>
  <ul>
    <li *ngFor="let sideNavItem of sideNavItems">
      {{ sideNavItem.name }}
      <ul>
        <li appFormatSubTopic *ngFor="let subTopic of sideNavItem.subTopics">
          {{ subTopic.name }}
        </li>
      </ul>
    </li>
  </ul>
</nav>
