$header-height: 6rem;

header {
  height: $header-height;
  background: $gray-noon;
  position: fixed;
  width: 100vw;
  padding: $base-line-height;
  display: flex;

  img {
    max-height: 100%;
    width: auto;
  }
}

.header__filler {
  height: $header-height;
  width: 100vw;
}
