nav {
  height: 100%;
  background: $gray-morning-06am;
  width: $base-line-height * 14;
  padding: $base-line-height;
}

nav ul {
  list-style-type: none;
  text-transform: capitalize;
  font-weight: normal;
  padding-left: $base-line-height;
  padding-top: $base-line-height / 2;
  padding-bottom: $base-line-height / 2;
}

nav > ul {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
