<app-header></app-header>
<main>
  <app-side-nav *ngIf="sideNavItems" [sideNavItems]="sideNavItems"></app-side-nav>
  <app-side-nav-loading *ngIf="!sideNavItems"></app-side-nav-loading>
  <app-content>
    <router-outlet></router-outlet>
  </app-content>
</main>


