@import '../../typography/fonts';


// Variables
//
// You can override the default values by setting the variables in your Sass
// before importing the normalize-scss library.

// The font size set on the root html element.
$base-font-size: 16px !default;

// The base line height determines the basic unit of vertical rhythm.
$base-line-height: 24px !default;

// The length unit in which to output vertical rhythm values.
// Supported values: px, em, rem.
$base-unit: 'em' !default;

// The default font family.
$base-font-family: $barlow;

// The font sizes for h1-h6.
$h1-font-size: 48px;
$h2-font-size: 36px;
$h3-font-size: 28px;
$h4-font-size: 20px;
$h5-font-size: 18px;
$h6-font-size: 16px;

// The amount lists and blockquotes are indented.
$indent-amount: 2 * $base-line-height;

// The following variable controls whether normalize-scss will output
// font-sizes, line-heights and block-level top/bottom margins that form a basic
// vertical rhythm on the page, which differs from the original Normalize.css.
// However, changing any of the variables above will cause
// $normalize-vertical-rhythm to be automatically set to true.
$normalize-vertical-rhythm: true;
