$yellow-sunrise: #fdefb0;
$yellow-morning: #fce064;
$yellow-noon: #fad018;
$yellow-afternoon: #fcb610;
$yellow-sunset: #fd9b08;
$yellow-evening: #ff8802;

$day: #ffffff;;
$gray-morning-06am: #f5f5f5;
$gray-morning-07am: #d6d6d6;
$gray-morning-08am: #bababa;
$gray-noon: #343434;
$night: #050505;

$green-sunrise: #a8efdc;
$green-morning: #54e0ba;
$green-noon: #00d198;
$green-afternoon: #00a779;
$green-sunset: #007d5b;
$green-evening: #005f44;

$success-sunrise: #a8efdc;
$success-morning: #54e0ba;
$success-noon: #00d198;
$success-afternoon: #00a779;
$success-sunset: #007d5b;
$success-evening: #005f44;

$information-sunrise: #b5cafa;;
$information-morning: #6e96f4;
$information-noon: #2662ef;
$information-afternoon: #1b4dc3;
$information-sunset: #103898;
$information-evening: #082978;

$warning-sunrise: #ffd7a9;
$warning-morning: #ffaf55;
$warning-noon: #ff8802;
$warning-afternoon: #e27101;
$warning-sunset: #c45a01;
$warning-evening: #af4a00;

$error-sunrise: #eeb4a8;
$error-morning: #dd6b54;
$error-noon: #cc2200;
$error-afternoon: #b31700;
$error-sunset: #9a0c00;
$error-evening: #880300;
