$barlow: 'Barlow', sans-serif;
$ibm-plex-serif: 'IBM Plex Serif', serif;
$ibm-plex-mono: 'IBM Plex Mono', monospace;

// Use IBM Plex Serif for headings and sections.
@font-face {
  font-family: "IBM Plex Serif";
  src: url("/assets/fonts/IBM_Plex_Serif/IBMPlexSerif-Bold.ttf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

// Use IBM Plex Mono when presenting code.
@font-face {
  font-family: "IBM Plex Mono";
  src: url("/assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

// Use Barlow for body copy.
@font-face {
  font-family: "Barlow";
  src: url("/assets/fonts/Barlow/Barlow-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("/assets/fonts/Barlow/Barlow-RegularItalic.ttf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Barlow";
  src: url("/assets/fonts/Barlow/Barlow-Medium.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("src/assets/fonts/Barlow/Barlow-MediumItalic.ttf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Barlow";
  src: url("/assets/fonts/Barlow/Barlow-SemiBold.ttf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("src/assets/fonts/Barlow/Barlow-SemiBoldItalic.ttf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Barlow";
  src: url("/assets/fonts/Barlow/Barlow-Bold.ttf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("src/assets/fonts/Barlow/Barlow-BoldItalic.ttf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
