@import "fonts";

// $base-font-size declared in base/normalize/variables.scss
$paragraph: $base-font-size;

//  Already declared in base/normalize/variables.scss
//  $h1-font-size: 48px;
//  $h2-font-size: 36px;
//  $h3-font-size: 28px;
//  $h4-font-size: 20px;
//  $h5-font-size: 18px;
//  $h6-font-size: 16px;

$h1-font-size--medium: 40px;
$h2-font-size--medium: 32px;
$h3-font-size--medium: 24px;
$h4-font-size--medium: 20px;
$h5-font-size--medium: 18px;
$h6-font-size--medium: 16px;

$h1-font-size--small: 32px;
$h2-font-size--small: 26px;
$h3-font-size--small: 22px;
$h4-font-size--small: 20px;
$h5-font-size--small: 18px;
$h6-font-size--small: 16px;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ibm-plex-serif;
  font-weight: 700;
  color: $gray-noon;
}

p {
  font-family: $barlow;
  font-weight: normal;
  color: $gray-noon;
}

code {
  font-family: $ibm-plex-mono;
  font-weight: normal;
  color: $gray-noon;
}

h1 {
  @include breakpoint(desktop) {
    font-size: $h1-font-size;
  }
  @include breakpoint(laptop) {
    font-size: $h1-font-size;
  }
  @include breakpoint(tablet) {
    font-size: $h1-font-size--medium;
  }
  @include breakpoint(phablet) {
    font-size: $h1-font-size--medium;
  }
  @include breakpoint(mobileonly) {
    font-size: $h1-font-size--small;
  }
}

h2 {
  @include breakpoint(desktop) {
    font-size: $h2-font-size;
  }
  @include breakpoint(laptop) {
    font-size: $h2-font-size;
  }
  @include breakpoint(tablet) {
    font-size: $h2-font-size--medium;
  }
  @include breakpoint(phablet) {
    font-size: $h2-font-size--medium;
  }
  @include breakpoint(mobileonly) {
    font-size: $h2-font-size--small;
  }
}

h4 {
  @include breakpoint(desktop) {
    font-size: $h4-font-size;
  }
  @include breakpoint(laptop) {
    font-size: $h4-font-size;
  }
  @include breakpoint(tablet) {
    font-size: $h4-font-size--medium;
  }
  @include breakpoint(phablet) {
    font-size: $h4-font-size--medium;
  }
  @include breakpoint(mobileonly) {
    font-size: $h4-font-size--small;
  }
}

h5 {
  @include breakpoint(desktop) {
    font-size: $h5-font-size;
  }
  @include breakpoint(laptop) {
    font-size: $h5-font-size;
  }
  @include breakpoint(tablet) {
    font-size: $h5-font-size--medium;
  }
  @include breakpoint(phablet) {
    font-size: $h5-font-size--medium;
  }
  @include breakpoint(mobileonly) {
    font-size: $h5-font-size--small;
  }
}

h6 {
  @include breakpoint(desktop) {
    font-size: $h6-font-size;
  }
  @include breakpoint(laptop) {
    font-size: $h6-font-size;
  }
  @include breakpoint(tablet) {
    font-size: $h6-font-size--medium;
  }
  @include breakpoint(phablet) {
    font-size: $h6-font-size--medium;
  }
  @include breakpoint(mobileonly) {
    font-size: $h6-font-size--small;
  }
}
